<div class="home-container text-center">
    <h1>Bienvenido a Métodos de Cifrado</h1>
    <p>Descubre diferentes técnicas de cifrado y cómo proteger tu información.</p>
    
    <div class="cards-container">
      <div class="card">
        <h2>Cifrado César</h2>
        <p>Una técnica de cifrado por sustitución en la que cada letra se reemplaza por otra letra que se encuentra un número fijo de posiciones más adelante.</p>
        <a routerLink="/cesar-cipher" class="btn btn-primary">Aprender Más</a>
      </div>
  
      <div class="card">
        <h2>Cifrado Escítala</h2>
        <p>Un antiguo método de cifrado que utiliza un dispositivo llamado escítala para realizar la codificación.</p>
        <a routerLink="/escitala-cipher" class="btn btn-primary">Aprender Más</a>
      </div>
  
      <div class="card">
        <h2>Cifrado 3DES</h2>
        <p>Triple DES es un algoritmo de cifrado que aplica el algoritmo DES tres veces a cada bloque de datos.</p>
        <a routerLink="/triple-des-cipher" class="btn btn-primary">Aprender Más</a>
      </div>
  
      <div class="card">
        <h2>Cifrado ECC</h2>
        <p>Utiliza las propiedades de la teoría de números para ofrecer una forma más segura y eficiente de cifrado.</p>
        <a routerLink="/ecc-cipher" class="btn btn-primary">Aprender Más</a>
      </div>
    </div>
  </div>
  